@page "/"

<PageTitle>To-Do</PageTitle>
<div class="container">
    <h1>To-Do</h1>
    <div class="input">
        <input type="text" @bind="myInput"/>
        <button @onclick="addToDo">Add</button>
    </div>
    @for(int i = 0; i < todos.Count; i++)
    {
        var index = i;
        var todo = todos[i];
        <div class="item">
            <div class="item-text">@todo</div> 
            <div class="item-close" @onclick="@(() => removeTodo(index))">&times;</div>
        </div>
    }

   
</div>

@code
{
    public string myInput { get; set; }
    public List<string> todos = new List<string>();

    public void addToDo()
    {
        todos.Add(myInput);
        myInput = "";
    }

    public void removeTodo(int index)
    {
        todos.RemoveAt(index);
    }

}


